@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web); /* Fonte Titillium Web */
@import url(http://fonts.googleapis.com/css?family=PT+Sans); /* Fonte PT Sans */

/* Formataçao do Cabeçalho */
header#cabecalho {
    border-bottom: 2px #868686 solid;
    background-image: url("../imagens/augusto4.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 1200px;
}

/* Formatação do logotipo */
header#cabecalho h1 a {
    display: block;
    float: left;
    text-indent: -9999;
    width: 700px;
}

/* Formataçao simples do corpo */
body {
    background-image: url("../imagens/background.jpg");
    font-family: 'Open Sans', Helvetica, sans-serif, arial;
    color: #868686;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    text-shadow: 1px 1px 0px #fff;
}

/* Formataçao simples do paragrafo */
p {
    font-family: 'Open Sans', 'PT Sans', Helvetica sans-serif;
    text-align: justify;
    text-indent: 50px;
}

/* Formataçao simples dos links */
a {
    color: #fe9380;
    text-decoration: none;
}

p a:hover {
    color: #fe5e41;
    text-decoration: underline; /*inseri uma linha sob o link*/
    text-shadow: none; /*retira a sombra da fonte*/
}

/* Formataçao do menu*/
nav#menu {
    float: right;
    margin-top: 78px;
    text-align: right;
    width: 500px;
}

nav#menu ul {
    list-style-type: none;
    text-transform: lowercase;
    position: absolute;
    top: -10px;
    left: 600px;
}

nav#menu li {
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

/* Formataçao simples de links de dentro do menu */
nav#menu a {
    color: #fe9380;
    text-decoration: none;
    font-size: 30px;
}

nav#menu a:hover {
    color: #fe5e41;
}

/* Formataçao do rodape */
footer#rodape {
    text-align: center;
    border-top: 2px #868686 solid;
    height: 80px;
    width: 1200px;
}

footer#rodape p {
    text-align: center;
}
