@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300); /* Fonte Titillium Web */
@import url(http://fonts.googleapis.com/css?family=PT+Sans); /* Fonte PT Sans */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300);

/* Home */

* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: #7b4397; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #7b4397 , #dc2430); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #7b4397 , #dc2430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1.title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 480%;
}

p.subtitle {
    font-family: "Titillium Web", sans-serif;
    margin-top: 10px;
    font-size: 135%;
}

h1.title, p.subtitle {
    color: white;
    text-align: center;
    vertical-align: middle;
    top: 250px;
    position: relative;
}

ul.social-icons {
    text-align: center;
    position: relative;
    top: 300px;
}

ul.social-icons li {
    display: inline-block;
    padding-left: 15px;
}

ul.social-icons li:first-child {
    padding-left: 0;
}

ul.social-icons li a i {
    color: rgba(255, 255, 255, 0.4);
    font-size: 150%;
}

ul.social-icons li a i:hover {
    color: rgba(255, 255, 255, 0.8);
}
